{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="row">
    <a {{#authormailshow}}href="mailto:{{default_authormail}}"{{/authormailshow}}>
        {{default_authorname}}
    </a>
</div>
<div class="row">
    <a>
        {{#pix}} i/publish, core {{/pix}}
        {{default_licence}}
    </a>
</div>
<div class="row">
    <a href="{{CFG.wwwroot}}/blocks/edupublisher/pages/package.php?id={{id}}">
        {{#pix}} i/hide, core {{/pix}}
        {{#str}} details, block_edupublisher {{/str}}
    </a>
</div>
<div class="row">
    <a href="https://t1.eduvidual.org/blocks/edupublisher/pages/comment.php?packageid=4">
        {{#pix}} t/messages, core {{/pix}}
        {{#str}} comments {{/str}}
    </a>
</div>
<div class="row">
    <a>
        {{#pix}} i/scales, core {{/pix}}
    </a>
    {{<block_edupublisher/package_rating}}
</div>
{{#can_see_evaluation}}
<div class="row">
    <a href="{{CFG.wwwroot}}/blocks/edupublisher/pages/evaluation.php?packageid={{id}}">
        {{#pix}} i/report, core {{/pix}}
        {{#str}} evaluations, block_edupublisher {{/str}}
    </a>
</div>
{{/can_see_evaluation}}
{{#can_import}}
<div class="row">
    <a href="#" onclick="require(['block_edupublisher/main'], function(MAIN) { MAIN.initImportSelection({{id}}, 0, {{allow_subcourses}}); }); return false;"
       class="btn btn-primary btn-block" style="margin-top: 10px;">
       {{#str}} initialize_import, block_edupublisher {{/str}}
    </a>
</div>
{{/can_import}}
{{#can_create_groups}}
<div class="row">
    <a href="{{CFG.wwwroot}}/blocks/edupublisher/pages/groups.php?id={{id}}" class="btn btn-primary btn-block">
        {{#str}} groups:create, block_edupublisher {{/str}}
    </a>
</div>
{{/can_create_groups}}
{{#can_unenrol}}
<div class="row">
    <a href="{{CFG.wwwroot}}/blocks/edupublisher/pages/self_enrol.php?id={{course}}&unenrol=1" class="btn btn-primary btn-block">
        {{#str}} self_unenrol, block_edupublisher {{/str}}
    </a>
</div>
{{/can_unenrol}}
{{#etapas_graphic}}
<div class="row">
    <a>
        <img src="{{CFG.wwwroot}}/blocks/edupublisher/pix/channel/{{etapas_graphic}}.png"
             style="width: 100%; max-width: 170px; margin-top: 20px;">
    </a>
</div>
{{/etapas_graphic}}
