{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<table class="generaltable">
    <thead>
        <tr>
            <th style="border-right: 1px solid darkgray;">
                {{#str}} groups:name, block_edupublisher {{/str}}
            </th>
            <th style="border-right: 1px solid darkgray;text-align: center;" colspan="2">
                {{#str}} groups:urlstudent, block_edupublisher {{/str}}
            </th>
            <th style="text-align: center;" colspan="2">
                {{#str}} groups:urlteacher, block_edupublisher {{/str}}
            </th>
            <th style="text-align: center;">
                {{#str}} delete {{/str}}
            </th>
        </tr>
    </thead>
    <tbody>
        {{#groups}}
        <tr>
            <td style="border-right: 1px solid darkgray; vertical-align: middle;">
                <input data-groupid="{{id}}" type="text" value="{{name}}"
                       minlength="3" maxlength="50" style="width: 100%;"
                       onkeyup="var inp = this; require(['block_edupublisher/groups'], function(G) { G.rename(inp); });" />
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a href="#" target="_blank"
                   onclick="var a = this; require(['block_edupublisher/groups'], function(G) { G.enlargeQR(a); }); return false;">
                    <img src="{{qrstudent}}" class="qr" height="60"/>
                </a>
            </td>
            <td style="border-right: 1px solid darkgray;text-align: center; vertical-align: middle;">
                <a href="{{urlstudent}}" target="_blank">
                    {{urlstudent}}
                </a>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a href="#" target="_blank"
                   onclick="var a = this; require(['block_edupublisher/groups'], function(G) { G.enlargeQR(a); }); return false;">
                    <img src="{{qrteacher}}" class="qr" height="60"/>
                </a>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a href="{{urlteacher}}" target="_blank">
                    {{urlteacher}}
                </a>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a href="#" class="btn"
                   onclick="require(['block_edupublisher/main'], function(M) { M.confirmDeleteGroup('{{urldelete}}'); }); return false;">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/groups}}
    </tbody>
</table>
