{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<form action="" method="post" enctype="multipart/form-data">
    <p class="alert alert-info">
        {{#str}} groups:name, block_edupublisher {{/str}}:
        <input type="text" name="edupublisher_group_name" />
        <button type="submit" class="btn btn-primary"
            style="padding: 2px 10px; margin-top: -2px">
            <i class="fa fa-plus"></i>
            {{#str}} create {{/str}}
        </button>
    </p>
</form>

<p>
    {{#str}} groups:longtext, block_edupublisher {{/str}}
</p>
