{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @param type: success, warning, danger
}}
<div class="_ui-edupublisher"><div>
    <input type="hidden" id="packageid-{{uniqid}}" value="{{packageid}}" />
    <div class="row">
        <div class="col-md-12">
            <label for="courseid-{{uniqid}}">{{#str}} clone_to_course, block_edupublisher {{/str}}</label>
        </div>
        <div class="col-md-12">
            <select id="courseid-{{uniqid}}" disabled="disabled" style="width: 100%;"
                onchange="require(['block_edupublisher/main'], function(MAIN) { MAIN.initImportLoadSections('{{uniqid}}'); });">
                <option value="">{{#str}} loading {{/str}}</option>
            </select>
        </div>
    </div>

    {{#allowsubcourses}}
    <div class="row">
        <div class="col-md-12">
            <label>
                <input type="checkbox" id="assubcourse-{{uniqid}}">
                {{#str}} as_subcourse, block_edupublisher {{/str}}<sup>1)</sup>
            </label>
        </div>
    </div>
    {{/allowsubcourses}}

    <div class="row">
        <div class="col-md-12">
            <label for="sectionid-{{uniqid}}">{{#str}} after_section, block_edupublisher {{/str}}</label>
        </div>
        <div class="col-md-12">
            <select id="sectionid-{{uniqid}}" disabled="disabled" style="width: 100%;">
                <option value="">{{#str}} loading {{/str}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-primary" style="width: 100%; margin-top: 10px;"
               onclick="require(['block_edupublisher/main'], function(MAIN) { MAIN.initImportLoadGo('{{uniqid}}'); }); return false;">
                {{#str}} ok {{/str}}
            </a>
        </div>
    </div>

    {{#allowsubcourses}}
    <div class="row-fluid">
        <div class="col-md-12">
            <small>
                <sup>1)</sup>
                {{#str}} as_subcourse:description, block_edupublisher {{/str}}
            </small>
        </div>
    </div>
    {{/allowsubcourses}}
</div></div>

{{#js}}
require(['block_edupublisher/main'], function(MAIN) {
    MAIN.initImportLoadCourses('{{uniqid}}', {{courseid}});
});
{{/js}}
