{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
<div class="ui-edupublisher"><div>
    <h3>{{#str}} channel, block_edupublisher {{/str}}</h3>
    {{#maintainer_default}}
        <a class="btn btn-secondary" href="{{wwwroot}}/blocks/edupublisher/pages/list.php?channel=default">{{#str}} default_header, block_edupublisher {{/str}}</a>
    {{/maintainer_default}}
    {{#maintainer_etapas}}
        <a class="btn btn-secondary" href="{{wwwroot}}/blocks/edupublisher/pages/list.php?channel=etapas">{{#str}} etapas_header, block_edupublisher {{/str}}</a>
    {{/maintainer_etapas}}
    {{#maintainer_eduthek}}
        <a class="btn btn-secondary" href="{{wwwroot}}/blocks/edupublisher/pages/list.php?channel=eduthek">{{#str}} eduthek_header, block_edupublisher {{/str}}</a>
    {{/maintainer_eduthek}}
</div></div><!-- ui-edupublisher -->
