{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
<div class="ui-edupublisher" style="text-align: center;"><div>
    <ul data-role="listview">
        {{#maintainer_default}}
            <li><a href="{{wwwroot}}/blocks/edupublisher/pages/list.php?channel=default">{{#str}} default_header, block_edupublisher {{/str}}</a></li>
        {{/maintainer_default}}
        {{#maintainer_etapas}}
            <li><a href="{{wwwroot}}/blocks/edupublisher/pages/list.php?channel=etapas">{{#str}} etapas_header, block_edupublisher {{/str}}</a></li>
        {{/maintainer_etapas}}
        {{#maintainer_eduthek}}
            <li><a href="{{wwwroot}}/blocks/edupublisher/pages/list.php?channel=eduthek">{{#str}} eduthek_header, block_edupublisher {{/str}}</a></li>
        {{/maintainer_eduthek}}
    </ul>
</div></div><!-- ui-edupublisher -->
