{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
<tr class="{{#exclamation}} exclamation {{/exclamation}}">
    <td>
        {{#exclamation}}
            <i class="fa fa-exclamation"></i>
        {{/exclamation}}
    </td>
    <td>
        {{#hasexacompsourceids}}
            <i class="fa fa-certificate" style="color: green;"
               title="{{#str}} competencies, competency {{/str}}"></i>
        {{/hasexacompsourceids}}
        {{^hasexacompsourceids}}
            <i class="fa fa-certificate" style="color: darkred;"
               title="{{#str}} competencies, competency {{/str}}"></i>
        {{/hasexacompsourceids}}
    </td>
    <td>
        {{#authoreditingpermission}}
            <i class="fa fa-unlock"></i>
        {{/authoreditingpermission}}
        {{^authoreditingpermission}}
            <i class="fa fa-lock"></i>
        {{/authoreditingpermission}}
    </td>
    <td>
        <a href="{{wwwroot}}/blocks/edupublisher/pages/package.php?id={{id}}">
            <img src="{{default_image}}" alt="{{title}}" style="width: 40px;"/>
        </a>
    </td>
    <td>{{title}} (<i>{{default_authorname}}</i>)</td>
    <td>
        {{#default_publishas}} {{#pix}} i/completion-auto-y, core, requested publishing {{/pix}} {{/default_publishas}}
        {{^default_publishas}} {{#pix}} i/completion-auto-fail, core, NO require publishing {{/pix}} {{/default_publishas}}
    </td>
    <td>
        {{#default_active}} {{#pix}} i/completion-auto-pass, core, is published {{/pix}} {{/default_active}}
        {{^default_active}} {{#pix}} i/completion-auto-fail, core, is NOT published {{/pix}} {{/default_active}}
    </td>
    <td>
        {{#etapas_publishas}} {{#pix}} i/completion-auto-y, core, requested publishing {{/pix}} {{/etapas_publishas}}
        {{^etapas_publishas}} {{#pix}} i/completion-auto-fail, core, NO require publishing {{/pix}} {{/etapas_publishas}}
    </td>
    <td>
        {{#etapas_active}} {{#pix}} i/completion-auto-pass, core, is published {{/pix}} {{/etapas_active}}
        {{^etapas_active}} {{#pix}} i/completion-auto-fail, core, is NOT published {{/pix}} {{/etapas_active}}
    </td>
    <td>
        {{#eduthek_publishas}} {{#pix}} i/completion-auto-y, core, requested publishing {{/pix}} {{/eduthek_publishas}}
        {{^eduthek_publishas}} {{#pix}} i/completion-auto-fail, core, NO require publishing {{/pix}} {{/eduthek_publishas}}
    </td>
    <td>
        {{#eduthek_active}} {{#pix}} i/completion-auto-pass, core, is published {{/pix}} {{/eduthek_active}}
        {{^eduthek_active}} {{#pix}} i/completion-auto-fail, core, is NOT published {{/pix}} {{/eduthek_active}}
    </td>
    <td>
        {{> block_edupublisher/package_rating }}
    </td>
</tr>
