{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div>
    <a href="list.php" class="btn btn-secondary mb-2">Zurück zur Liste</a>
</div>
<div class="ui-edupublisher"><div>
{{#canmoderate}}
    <div style="display: grid; grid-template-columns: minmax(200px, 1fr) 2fr;">
        <a href="{{wwwroot}}/course/view.php?id={{courseid}}" class="ui-btn btn btn-primary">Kurs anzeigen</a>
        {{#authoreditingpermission}}
            <a href="{{wwwroot}}/blocks/edupublisher/pages/package.php?id={{id}}&act=authoreditingpermission&to=remove" class="ui-btn btn btn-primary">{{#str}} trigger_editing_permission_remove, block_edupublisher {{/str}}</a>
        {{/authoreditingpermission}}
        {{^authoreditingpermission}}
            <a href="{{wwwroot}}/blocks/edupublisher/pages/package.php?id={{id}}&act=authoreditingpermission&to=grant" class="ui-btn btn btn-primary">{{#str}} trigger_editing_permission_grant, block_edupublisher {{/str}}</a>
        {{/authoreditingpermission}}
    </div>
{{/canmoderate}}
<div style="display: grid; grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);">
<a href="{{wwwroot}}/blocks/edupublisher/pages/comment.php?packageid={{id}}" class="btn">{{#str}} comments {{/str}}</a>
{{#canedit}}
    <a href="{{wwwroot}}/blocks/edupublisher/pages/package_edit.php?id={{id}}&returnurl={{returnurl}}" class="btn">{{#str}} edit {{/str}}</a>
{{/canedit}}
{{#candelete}}
    <a href="{{wwwroot}}/blocks/edupublisher/pages/remove.php?id={{id}}" class="btn">{{#str}} delete {{/str}}</a>
{{/candelete}}
</div>

<h3 style="font-size: 130%; margin-top: 20px;">Veröffentlichung</h3>

<div class="row">
    <div class="col-md-4">
        Channels
    </div>
    <div class="col-md-8">
        {{#default_publishas}}
        <div id="channel-default" class="channel-block{{^default_published}} channel-inactive{{/default_published}}">
            {{#default_cantriggeractive}}
            <input type="checkbox"{{#default_published}} checked="checked"{{/default_published}}
                   onclick="var chkbox = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.triggerActive({{id}}, 'default', chkbox); } );"
                   id="channel-default-active"/>
            {{/default_cantriggeractive}}
            Eduvdidual
        </div>
        {{/default_publishas}}

        {{#eduthekneu_publishas}}
        <div id="channel-eduthekneu" class="channel-block{{^eduthekneu_published}} channel-inactive{{/eduthekneu_published}}">
            {{#eduthekneu_cantriggeractive}}
            <input type="checkbox"{{#eduthekneu_published}} checked="checked"{{/eduthekneu_published}}
                   onclick="var chkbox = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.triggerActive({{id}}, 'eduthekneu', chkbox); } );"
                   id="channel-eduthekneu-active"/>
            {{/eduthekneu_cantriggeractive}}
            Eduthek.neu
        </div>
        {{/eduthekneu_publishas}}

        {{#etapas_publishas}}
        <div id="channel-etapas" class="channel-block{{^etapas_published}} channel-inactive{{/etapas_published}}">
            {{#etapas_cantriggeractive}}
            <input type="checkbox"{{#etapas_published}} checked="checked"{{/etapas_published}}
                   onclick="var chkbox = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.triggerActive({{id}}, 'etapas', chkbox); } );"
                   id="channel-etapas-active"/>
            {{/etapas_cantriggeractive}}
            eTapas
        </div>
        {{/etapas_publishas}}

        {{#eduthek_publishas}}
        <div id="channel-eduthek" class="channel-block{{^eduthek_published}} channel-inactive{{/eduthek_published}}">
            {{#eduthek_cantriggeractive}}
            <input type="checkbox"{{#eduthek_published}} checked="checked"{{/eduthek_published}}
                   onclick="var chkbox = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.triggerActive({{id}}, 'eduthek', chkbox); } );"
                   id="channel-eduthek-active"/>
            {{/eduthek_cantriggeractive}}
            Eduthek (alt)
        </div>
        {{/eduthek_publishas}}
    </div>
</div>

<h3 style="font-size: 130%; margin-top: 20px;">Details:</h3>
{{{details}}}

<!--
{{#etapas_publishas}}
<div id="channel-etapas" class="channel-block{{^etapas_published}} channel-inactive{{/etapas_published}}">
    <table border="0" width="100%">
        <tr><th colspan="2">{{#str}} etapas_header, block_edupublisher {{/str}}</th></tr>
        {{#etapas_cantriggeractive}}
        <tr>
            <td colspan="2">
                <label>
                    <input type="checkbox"{{#etapas_published}} checked="checked"{{/etapas_published}}
                           onclick="var chkbox = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.triggerActive({{id}}, 'etapas', chkbox); } );" />
                    {{#str}} etapas_trigger_active, block_edupublisher {{/str}}
                </label>
            </td>
        </tr>
        {{/etapas_cantriggeractive}}

        <tr>
            <th colspan="2">{{#str}} etapas_vorkenntnisse, block_edupublisher {{/str}}</th>
        </tr>
        <tr>
            <td colspan="2">{{#etapas_vorkenntnisse}}{{{etapas_vorkenntnisse}}}{{/etapas_vorkenntnisse}}{{^etapas_vorkenntnisse}}-{{/etapas_vorkenntnisse}}</td>
        </tr>
        <tr>
            <th colspan="2">{{#str}} etapas_voraussetzungen, block_edupublisher {{/str}}</th>
        </tr>
        <tr>
            <td colspan="2">{{#etapas_voraussetzungen}}{{{etapas_voraussetzungen}}}{{/etapas_voraussetzungen}}{{^etapas_voraussetzungen}}-{{/etapas_voraussetzungen}}</td>
        </tr>
        <tr>
            <th>{{#str}} etapas_erprobungen, block_edupublisher {{/str}}</th>
            <td><ul class="text-divider comma" style="margin: 0; padding: 0;">{{#etapas_erprobungen}}<a href="{{.}}" target="_blank">{{#pix}} i/report, core, report{{/pix}}</a>{{/etapas_erprobungen}}{{^etapas_erprobungen}}-{{/etapas_erprobungen}}</ul></td>
        </tr>
        <tr>
            <th>{{#str}} lti_data, block_edupublisher {{/str}}</th>
            <td><a href="{{etapas_lticartridge}}" target="_blank">{{#str}} etapas_lticartridge, block_edupublisher {{/str}}</a>, {{etapas_ltisecret}}</td>
        </tr>

    </table>
</div>
{{/etapas_publishas}}
{{#eduthek_publishas}}
<div id="channel-eduthek" class="channel-block{{^eduthek_published}} channel-inactive{{/eduthek_published}}">
    <table border="0" width="100%">
        <tr><th colspan="2">{{#str}} eduthek_header, block_edupublisher {{/str}}</th></tr>
        {{#eduthek_cantriggeractive}}
        <tr>
            <td colspan="2">
                <label>
                    <input type="checkbox"{{#eduthek_published}} checked="checked"{{/eduthek_published}}
                           onclick="var chkbox = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.triggerActive({{id}}, 'eduthek', chkbox); } );" />
                    {{#str}} eduthek_trigger_active, block_edupublisher {{/str}}
                </label>
            </td>
        </tr>
        {{/eduthek_cantriggeractive}}
        <tr>
            <th colspan="2">{{#str}} lti_data, block_edupublisher {{/str}}</th>
        </tr>
        <tr>
            <td><a href="{{eduthek_lticartridge}}" target="_blank">{{#str}} eduthek_lticartridge, block_edupublisher {{/str}}</a></td>
            <td>{{eduthek_ltisecret}}</td>
        </tr>
    </table>
</div>
{{/eduthek_publishas}}
{{#eduthekneu_publishas}}
<div id="channel-eduthekneu" class="channel-block{{^eduthekneu_published}} channel-inactive{{/eduthekneu_published}}">
    <table border="0" width="100%">
        <tr><th colspan="2">{{#str}} eduthekneu_header, block_edupublisher {{/str}}</th></tr>
        {{#eduthekneu_cantriggeractive}}
        <tr>
            <td colspan="2">
                <label>
                    <input type="checkbox"{{#eduthekneu_published}} checked="checked"{{/eduthekneu_published}}
                           onclick="var chkbox = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.triggerActive({{id}}, 'eduthekneu', chkbox); } );" />
                    {{#str}} eduthekneu_trigger_active, block_edupublisher {{/str}}
                </label>
            </td>
        </tr>
        {{/eduthekneu_cantriggeractive}}
        <tr>
            <th colspan="2">{{#str}} lti_data, block_edupublisher {{/str}}</th>
        </tr>
        <tr>
            <td><a href="{{eduthekneu_lticartridge}}" target="_blank">{{#str}} eduthekneu_lticartridge, block_edupublisher {{/str}}</a></td>
            <td>{{eduthekneu_ltisecret}}</td>
        </tr>
    </table>
</div>
{{/eduthekneu_publishas}}
{{#commercial_publishas}}
<div id="channel-commercial" class="channel-block{{^commercial_published}} channel-inactive{{/commercial_published}}">
    <table border="0" width="100%">
        <tr><th colspan="2">{{#str}} commercial_header, block_edupublisher {{/str}}</th></tr>
        {{#commercial_cantriggeractive}}
        <tr>
            <td colspan="2">
                <label>
                    <input type="checkbox"{{#commercial_published}} checked="checked"{{/commercial_published}}
                           onclick="var chkbox = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.triggerActive({{id}}, 'commercial', chkbox); } );" />
                    {{#str}} commercial_trigger_active, block_edupublisher {{/str}}
                </label>
            </td>
        </tr>
        {{/commercial_cantriggeractive}}
        <tr>
            <th>{{#str}} commercial_publisher, block_edupublisher {{/str}}</th>
            <td>{{commercial_publisher_name}}</td>
        </tr>
        {{#commercial_shoplink}}
            <tr>
                <th>{{#str}} commercial_shoplink, block_edupublisher {{/str}}</th>
                <td>{{commercial_shoplink}}</td>
            </tr>
        {{/commercial_shoplink}}
        <tr>
            <th>{{#str}} commercial_validation, block_edupublisher {{/str}}</th>
            <td>{{commercial_validation_name}}</td>
        </tr>
    </table>
</div>
{{/commercial_publishas}}
{{#origins}}
    <li>based on {{title}}</li>
{{/origins}}
</div>
</div>
-->
