{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<table border="0">
    <tr>
        <td valign="top">
            {{userfullname}}
            <br /><br />
            <a href="{{wwwroot}}/user/profile.php?id={{userid}}">
                <img src="{{userpicturebase64}}" alt="{{userfullname}}" width="50" style="border-radius: 50%;" />
            </a>
        </td>
        <td valign="top">
            {{{content}}}
            {{#forchannel}}
                {{#str}} comment:forchannel, block_edupublisher, { "channel": {{#quote}} {{{forchannel}}} {{/quote}} } {{/str}}
            {{/forchannel}}
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td align="right">
            <a href="{{wwwroot}}/blocks/edupublisher/pages/comment.php?packageid={{package}}" target="_blank">{{#str}} reply, block_edupublisher {{/str}}</a>
            |
            <a href="{{wwwroot}}/blocks/edupublisher/pages/comment.php?perma={{permahash}}" target="_blank">{{#str}} permalink, block_edupublisher {{/str}}</a>
        </td>
    </tr>
</table>
