{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="ui-edupublisher"><div>
    {{#enablecommercial}}
    <div class="grid-eq-2">
        <a href="#" class="search {{uniqid}} btn btn-secondary active"
            onclick="require(['jquery'], function($) { $('.btn.{{uniqid}}').removeClass('active'); $('.search.{{uniqid}}').addClass('active'); $('#search-{{uniqid}}').css('display', 'block'); $('#commercial-{{uniqid}}').css('display', 'none'); }); return false;">
            {{#str}} search {{/str}}
        </a>
        <a href="#" class="commercial {{uniqid}} btn btn-secondary"
            onclick="require(['jquery'], function($) { $('.btn.{{uniqid}}').removeClass('active'); $('.commercial.{{uniqid}}').addClass('active'); $('#search-{{uniqid}}').css('display', 'none'); $('#commercial-{{uniqid}}').css('display', 'block'); }); return false;">
            {{#str}} commercial_header, block_edupublisher {{/str}}
        </a>
    </div>
    {{/enablecommercial}}
    <div id="search-{{uniqid}}">
        <input type="text" id="{{uniqid}}-search" name="search" placeholder="{{#str}} search, block_edupublisher {{/str}}" onkeyup="require(['block_edupublisher/main'], function(MAIN) { MAIN.search('{{uniqid}}', {{courseid}}, {{sectionid}}); });" />

        <ul id="{{uniqid}}-results" data-role="listview">
            <li><a href="#"><h3>{{#str}} search:enter_term, block_edupublisher {{/str}}</h3></a></li>
        </ul>
    </div>
    {{#enablecommercial}}
    <div id="commercial-{{uniqid}}" style="display: none;">
        <div id="licences-{{uniqid}}">
            {{#publishers}}
            <div>
                <a href="#" style="text-decoration: none;"
                    onclick="require(['jquery'], function($) { $('#pub_{{publisherid}}_items_{{uniqid}}').toggleClass('hidden'); }); return false;">
                    <h3 style="dislay: inline">
                        <img src="{{publisher_logo}}" alt="Logo" style="height: 2em;"/>
                        {{name}}
                    </h3>
                </a>
                <ul data-role="listview" id="pub_{{publisherid}}_items_{{uniqid}}" class="hidden">
                    {{#items}}
                        {{> block_edupublisher/search_li}}
                    {{/items}}
                </ul>
            </div>
            {{/publishers}}
        </div>
        <div id="addlicence-{{uniqid}}">
            <input type="text" placeholder="{{#str}} licence_redeem, block_edupublisher {{/str}}" />
            <input type="button" value="{{#str}} add {{/str}}"
                onclick="require(['block_edupublisher/licence'], function(LICENCE) { LICENCE.redeem('{{uniqid}}'); });"/>
        </div>
    </div>
    {{/enablecommercial}}
</div></div>

{{#js}}
    require(['block_edupublisher/main'], function(MAIN) { MAIN.search('{{uniqid}}', {{courseid}}, {{sectionid}}); });
{{/js}}
