{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="block_edupublisher search">
    <section id="{{uniqid}}-filterContainer" class="filterContainer">
        <!--
        <a href="#" style="position: absolute; right: 60px; top: 37px;"
            onclick="$('#{{uniqid}}-filterExtended').toggleClass('hidden'); return false;">
            {{#str}} collapse {{/str}}
        </a>
        -->
        <div id="{{uniqid}}-filterExtended">
            {{#subjectareas}}
                <button name="subjectarea" class="btn btn-sm btnFilterResources {{uniqid}}-subjectarea"
                    value="{{key}}" {{#isselected}} checked="checked" {{/isselected}}
                    onclick="var b = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.searchNow({ uniqid: '{{uniqid}}', courseid: {{courseid}}, sectionid: {{sectionid}} }, b); }); return false;">
                    {{name}}
                </button>
            {{/subjectareas}}
            <hr style="width:100%;text-align:left;margin-left:0">
            {{#schoollevels}}
                <button name="schoollevel" class="btn btn-sm btnFilterResources {{uniqid}}-schoollevel"
                    value="{{key}}" {{#isselected}} checked="checked" {{/isselected}}
                    onclick="var b = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.searchNow({ uniqid: '{{uniqid}}', courseid: {{courseid}}, sectionid: {{sectionid}} }, b); }); return false;">
                    {{name}}
                </button>
            {{/schoollevels}}
            {{#show_star_rating}}
                <hr style="width:100%;text-align:left;margin-left:0">
                {{#stars}}
                    <button name="stars" class="btn btn-sm btnFilterResources {{uniqid}}-stars"
                        value="{{key}}"
                        onclick="var b = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.searchNow({ uniqid: '{{uniqid}}', courseid: {{courseid}}, sectionid: {{sectionid}} }, b); }); return false;">
                        {{name}}
                    </button>
                {{/stars}}
            {{/show_star_rating}}
        </div>

        <input type="text" id="{{uniqid}}-search" name="search" style="width: 100%;"
            class="form-control RessourceSearchInput"
            placeholder="{{#str}} search_for_term_author_etc, block_edupublisher {{/str}}" value="{{search}}"
            onkeyup="require(['block_edupublisher/main'], function(MAIN) { MAIN.search('{{uniqid}}', {{courseid}}, {{sectionid}}); });" />
    </section>

    <section id="{{uniqid}}-filterResults" class="filterResults"></section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
    var element = document.querySelectorAll('.btnFilterResources');
        if (element) {
          element.forEach(function(el, key){
             el.addEventListener('click', function () {
                el.classList.toggle("btnFilterResourcesActive");
             });
          });
        }
    });
</script>

{{#js}}
    require(['block_edupublisher/main'], function(MAIN) { MAIN.search('{{uniqid}}', {{courseid}}, {{sectionid}}); });
{{/js}}
