{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
<li class="list-divider">
    <p>
        {{#stage0}}
            {{#str}} relevance:stage_0, block_edupublisher {{/str}}
        {{/stage0}}
        {{#stage1}}
            {{#str}} relevance:stage_1, block_edupublisher {{/str}}
        {{/stage1}}
        {{#stage2}}
            {{#str}} relevance:stage_2, block_edupublisher {{/str}}
        {{/stage2}}
        {{#stage3}}
            {{#str}} relevance:stage_3, block_edupublisher {{/str}}
        {{/stage3}}
    </p>
</li>
