{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="subjectarea_selector"><div>
    <form method="post" action="" enctype="multipart/form-data">
        <!--
        {{#subjectareas}}
            <input type="checkbox" name="subjectarea" value="{{key}}" href="#"
                onclick="var b = this; require(['block_edupublisher/main'], function(MAIN) { MAIN.searchNow({ uniqid: '{{uniqid}}', courseid: {{courseid}}, sectionid: {{sectionid}} }, b); }); return false;"
                class="{{uniqid}}-subjectarea" {{#isselected}} checked="checked" {{/isselected}}>
            <label>{{name}}</label>
        {{/subjectareas}}
        -->
        <input type="text" id="{{uniqid}}-search" name="search" style="width: 100%;"
            placeholder="{{#str}} search, block_edupublisher {{/str}}"
            onkeyup="require(['block_edupublisher/main'], function(MAIN) { MAIN.search('{{uniqid}}', {{courseid}}, {{sectionid}}); });" />
    </form>
</div></div>
